# day 18
16-19/day-18/hirst-painting/hirst-spot-painting.jpg
16-19/day-18/main.py

#day-24
20-29/day-24/Mail Merge Project Start/Output
20-29/day-24/main.py
20-29/day-24/new_file.txt

#day-25 
20-29/day-25/main.py
20-29/day-25/sq_data.csv
20-29/day-25/squirrel_colors.csv

#day-27
20-29/day-27/main.py
20-29/day-27/playground.py

#day-28
20-29/day-28/pomodoro-start/tomato.png

#day-29 
20-29/day-29/password-manager-start/logo.png
20-29/day-29/password-manager-start/data.txt

#day-35
30-39/day-35/.env

#day-36
30-39/day-36/stock-news-extrahard-start/.env

#day-37
30-39/day-37/.env

#day-38
30-39/day-38/.env

# Misc
my_file.txt