# day 18
day-18/hirst-painting/hirst-spot-painting.jpg
day-18/.DS_Store
day-18/main.py

#day-24
day-24/Mail Merge Project Start/Output
day-24/main.py
day-24/new_file.txt

#day-25 
day-25/main.py
day-25/sq_data.csv
day-25/squirrel_colors.csv

#day-27
day-27/main.py
day-27/playground.py

#day-28
day-28/pomodoro-start/tomato.png

#day-29 
day-29/password-manager-start/logo.png
day-29/password-manager-start/data.txt

#day-35
day-35/.env

#day-36
day-36/stock-news-extrahard-start/.env

#day-37
day-37/.env

#day-38
day-38/.env



# Misc
my_file.txt